{% extends "admin/index.html" %}

{% block content %}

{{ block.super }}

<div class="module">
    <table>
        <caption>Monitoring</caption>

        <tr>
            <th scope="row">
                <a href="{% url 'monitoring_dashboard' %}" style="text-decoration: none;">
                    Dashboard
                </a>
            </th>
            <td>
                <a href="{% url 'monitoring_dashboard' %}" style="text-decoration: none;">
                    View
                </a>
            </td>
        </tr>

        <tr>
            <th scope="row">
                <a href="{% url 'monitoring_channels' %}" style="text-decoration: none;">
                    Channels Health
                </a>
            </th>
            <td>
                <a href="{% url 'monitoring_channels' %}" style="text-decoration: none;">
                    View
                </a>
            </td>
        </tr>

        <tr>
            <th scope="row">
                <a href="{% url 'monitoring_logs' %}" style="text-decoration: none;">
                    Logs
                </a>
            </th>
            <td>
                <a href="{% url 'monitoring_logs' %}" style="text-decoration: none;">
                    View
                </a>
            </td>
        </tr>
    </table>
</div>

<div class="module">
    <table>
        <caption>
            Background Workers
        </caption>

        <tr>
            <th scope="row">
                <a href="{% url 'background_worker_dashboard' %}" style="text-decoration: none;">
                    Dashboard
                </a>
            </th>
            <td>
                <a href="{% url 'background_worker_dashboard' %}" style="text-decoration: none;">
                    View
                </a>
            </td>
        </tr>
    </table>
</div>

{% endblock %}