# App
APP_NAME="AppName"
APP_ENV="development" # development or production

# DB
# Format: postgresql://user:password@host:port/database
DATABASE_URL="DATABASE_URL=postgresql://username:password@localhost:5432/database_name" 

# CORS
# Comma-separated list of allowed origins (no spaces)
CORS_ALLOWED_ORIGINS="http://localhost:3000,http://localhost:5173,https://yourdomain.com"